<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
      <br>
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>Member since <%= @user.created_at %></small>
        <br>
        <br>
        <p><%= pluralize(@items_count, 'item') %></p>
      </div>
    </div>
  </div>
</div>