<!--  partial in a new items view directory so users can submit new items -->

<%= form_for [current_user, Item.new], remote: true do |f| %>
  <%= f.text_field :description, rows: 2, class: 'form-control form-group-sm form-fixer', style: 'width:50%;', placeholder: "Enter new item here", 'max-length' => 32 %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success'%>   
  </div>
  <div>
    <%= link_to "Update Items", user_path(current_user), class: 'btn btn-info'%>
  </div>
<% end %>
