<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
   <div class="media-body">
     <small>
       <%= item.user.name %> item <%= time_ago_in_words(item.created_at) %> ago
     </small>
     <p><%= item.description %></p>
   </div>
<% end %>